/*About*/

.about-page {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 20px;
  width: 70%;

  /* color: #f4f4f4; */
  margin: 100px auto;
}

.about-heading {
  width: 100%;
  margin-top: 2em;
}

.about-heading p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.about-heading button {
  padding: 0.7rem 2rem;
  color: white;
  background-color: #7510f7;
  box-shadow: rgb(49 137 244) 0px 18.2571px 21.6157px -15.9059px;
  border: 0px;
  border-radius: 3rem;
  font-size: 0.85rem;
  font-weight: bolder;
  height: 50px;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  font-family: "Space Grotesk", sans-serif;
  transition: all 2s;
}

.about-heading button:hover {
  background-color: #f4f6f6;
  border: 1px #7510f7 solid;
  color: black;
  cursor: pointer;
  transition: all 2s;
}

@media screen and (max-width: 590px) {
  .about-heading p {
    margin-top: 2rem;
    font-size: 0.8rem;
  }

  .about-page {
    /* color: #f4f4f4; */
    margin: 0px auto;
  }
}
