/*CONTACTS PAGE */

.contact-container {
  width: 100%;
  height: 100%;
}

.contact-heading {
  margin-top: 5em;
  text-align: center;
  width: 100%;
  margin-bottom: 5em;
}

@media screen and (max-width: 1024px) {
  .contacts-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .contact-heading {
    margin-bottom: 0;
  }

  .contact-left {
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .contact-content {
    width: 100%;
    margin: 0 auto;
  }

  .contact-right {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .contact-content img {
    display: none;
  }

  hr {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .contact-content {
    display: none;
  }
  .slogan {
    font-size: 1em;
  }
  .contact-heading {
    margin-bottom: 0;
  }
}

.slogan {
  font-weight: 300;
}

.contacts-page {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

hr {
  width: 50%;
}

.contact-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right {
  width: 50%;
}

.contact-content {
  margin: 0 auto;
}

.contact-content p {
  margin-bottom: 2em;
}
.contact-content i {
  margin-right: 2em;
}

.contact-content img {
  width: 300px;
  margin-top: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.contact-form input {
  border-color: #e6ecf8;
  color: #141c3a;
  box-shadow: none;
  font-weight: 300;
  border: none;
  padding: 12px; /* Some padding */
  width: 100%;
}

.contact-form label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  font-size: 1.5rem;
}

.contact-form input {
  border-radius: 5px;
}

.contact-name,
.contact-email {
  display: flex;
  flex-direction: column;
}

.is-large {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 193px;
}

.form-submit {
  margin: 0 auto;
  width: 150px;
  padding: 0.7rem 2rem;
  color: white;
  background-color: #7510f7;
  box-shadow: rgb(49 137 244) 0px 18.2571px 21.6157px -15.9059px;
  border: 0px;
  border-radius: 3rem;
  font-size: 0.85rem;
  font-weight: bolder;
  height: 50px;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  font-family: "Space Grotesk", sans-serif;
  transition: all 1s;
  cursor: pointer;
}

/*Success */

.success {
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.success-content h1 {
  font-size: 3rem;
}

.success-link {
  text-decoration: none;
  color: white;
}

.success-link:hover {
  color: black;
}

.success-content h1,
.success-content h2 {
  margin-top: 1rem;
}

.success img {
  width: 50%;
}
